@model LanceCertoSQL.Models.Pregao

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Tem certeza que deseja excluir este leilão?</h3>
<div>
    <h4>Leilão</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imovel)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Imovel != null)
            {
                @Model.Imovel.Cidade
            }
            else
            {
                <span class="text-danger">Imóvel não encontrado</span>
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Usuario != null)
            {
                @Model.Usuario.Email
            }
            else
            {
                <span class="text-danger">Usuário não encontrado</span>
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorMinimo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorMinimo)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar à Lista</a>
    </form>
</div>

